
body {
    background-color: rgb(255, 0, 255);
}

div {
    background-color: rgba(0, 255, 0, 0.5);
}

#special {
    background-color: yellow;
}

.blue {
    background-color: red;
}

#blue {
    border: 10px dotted red;
}